<a href="https://colab.research.google.com/github/leresearth/laras.dibimbing.github.io/blob/main/Copy_of_DS_Data_Type_and_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA STRUCTURE**

## 1. List

In [1]:
contoh_list = [5,6,7,1,2,43,5,99,80]

contoh_list2 = ["Muhammad", "Rifqi", "Akram"]

In [2]:
print(contoh_list)
print(contoh_list2)

[5, 6, 7, 1, 2, 43, 5, 99, 80]
['Muhammad', 'Rifqi', 'Akram']

### Modified List

In [3]:
# untuk mengurutkan list dari kecil ke besar

contoh_list.sort()
contoh_list2.sort()

print(contoh_list)
print(contoh_list2)

[1, 2, 5, 5, 6, 7, 43, 80, 99]
['Akram', 'Muhammad', 'Rifqi']

In [4]:
# untuk mengurutkan list dari besar ke kecil

contoh_list.reverse()
contoh_list2.reverse()

print(contoh_list)
print(contoh_list2)

[99, 80, 43, 7, 6, 5, 5, 2, 1]
['Rifqi', 'Muhammad', 'Akram']

### Add Element

- `append()` menambahkan element diakhir list
- `extend()` menggabungkan satu list ke list lainnya
- `insert()` menambahkan elemen diposisi yang kita tentukan

In [5]:
angka = [1, 2, 3, 4, 5]

abjad = ['a', 'b', 'c', 'd', 'e']

In [6]:
# Menambahkan element menggunakan append()

angka.append(6)

print(angka)

[1, 2, 3, 4, 5, 6]

In [7]:
# Menggabungkan dua list

angka.extend(abjad)

print(angka)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [8]:
abjad.extend(angka)
print(abjad)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [9]:
# Menambahkan list di posisi tertentu

'''
  insert(posisi_index, elemen)
'''

angka.insert(2, 10)

print(angka)

[1, 2, 10, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [10]:
angka[2] = 20

In [11]:
print(angka)

[1, 2, 20, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

### Delete Element

- `remove()` removes an item value from a list.
- `pop()` removes the last (or specified) element while also returning the value.
-`clear()` removes all item from the list. the output will be the empty list
-`del list_name` delere the entire list

In [12]:
#menggunakan remove

angka.remove(20)
print(angka)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [13]:
angka.pop(-1)
print(angka)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd']

In [14]:
angka.clear()
print(angka)

[]

In [15]:
print(angka)

[]

In [ ]:
del angka
print(angka)

NameError: name 'angka' is not defined

## 2. Tuple

In [16]:
contoh_tuple = (1, 3, 5, 7, 9, 11, 'Akram', 'Charimah', False, True)

In [17]:
print(contoh_tuple)

(1, 3, 5, 7, 9, 11, 'Akram', 'Charimah', False, True)

In [18]:
contoh_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
contoh_tuple.remove('Akram')

AttributeError: 'tuple' object has no attribute 'remove'

### Indexing

In [20]:
# Misalkan kita akan mengambil elemen 'Rifqi' yang ada divariabel 'contoh_list' (dimulai dari kiri)
contoh_list = [2, 4, 6, 8, 10, 12, 12, 12, 12, 'Rifqi', 'Uci', False, True]

contoh_list[6]

12

In [21]:
contoh_list[-7]

12

In [22]:
# Misalkan kita akan mengambil elemen 'Rifqi' yang ada divariabel 'contoh_list' (dimulai dari kanan)

contoh_list[-4]

'Rifqi'

In [23]:
# Misalkan kita akan mengambil elemen 7 yang ada divariabel 'contoh_tuple' (dimulai dari kiri)

contoh_tuple[3]

7

In [24]:
# Misalkan kita akan mengambil elemen 8 yang ada divariabel 'contoh_tuple' (dimulai dari kanan)

contoh_tuple[-7]

7

### Slicing

Cara menggunakan slicing:

```nama_variabel[start:end:step]```

    start = tempat mulainya slicing

    end = target posisi akhir + 1 (tambah satu karena biar include, karena angka yang dimasukkan adl batasan
  

    step = jumlah langkah

In [25]:
contoh_list = [2, 4, 6, 8, 10, 12, 'Rifqi', 'Uci', False, True]
contoh_tuple = (1, 3, 5, 7, 9, 11, 'Akram', 'Charimah', False, True)

In [ ]:
# 4, 10, "Uci"

In [26]:
contoh_list[1:8:3]

[4, 10, 'Uci']

In [27]:
d = contoh_list[0:-2:2]
print(d)

[2, 6, 10, 'Rifqi']

In [28]:
a = contoh_list[0:2:1]
print(a)

[2, 4]

In [ ]:
a_2 = a = contoh_list[0:3:1]
print(a_2)

[2, 4, 6]

In [29]:
b = contoh_list[6]

In [30]:
a.append(b)

In [31]:
print(a)

[2, 4, 'Rifqi']

In [33]:
contoh_list[0]

2

In [34]:
contoh_list[1]

4

In [35]:
contoh_list[6]

'Rifqi'

In [36]:
contoh_list[2:7:1]

[6, 8, 10, 12, 'Rifqi']

In [37]:
# Misalkan kita akan mengambil elemen 6, 8, 10, 12, 'Rifqi', 'Uci'
start = 2
end = 8

contoh_list[2:8:2]

[6, 10, 'Rifqi']

In [38]:
# Misalkan kita akan mengambil elemen 2, 6, 10, 'Rifqi', False

contoh_list[0:9:2]

[2, 6, 10, 'Rifqi', False]

In [39]:
# Misalkan kita akan mengambil elemen dari kanan

contoh_tuple[-1:-5:-1]

(True, False, 'Charimah', 'Akram')

In [40]:
contoh_tuple[-1:-5:1]

()

## 3. Set

In [41]:
contoh_set = {1, 2, 10, 1, 9, 5, 5, 4, 'Muhammad', 'Rifqi', 'Akram'}

In [42]:
contoh_set

{1, 10, 2, 4, 5, 9, 'Akram', 'Muhammad', 'Rifqi'}

In [43]:
contoh_set[0]

TypeError: 'set' object is not subscriptable

In [44]:
# mengubah set menjadi list

set_to_list = list(contoh_set)
set_to_list

[1, 2, 'Muhammad', 4, 5, 9, 10, 'Akram', 'Rifqi']

In [45]:
set_to_list[2]

'Muhammad'

In [46]:
# Menambahkan element di set

contoh_set.add('Nama')

contoh_set

{1, 10, 2, 4, 5, 9, 'Akram', 'Muhammad', 'Nama', 'Rifqi'}

In [47]:
# Menghapus element di set menggunakan remove

contoh_set.remove('Akram')

contoh_set

{1, 10, 2, 4, 5, 9, 'Muhammad', 'Nama', 'Rifqi'}

In [48]:
# Menghapus elemen di set menggunakan pop

contoh_set.pop()

contoh_set

{10, 2, 4, 5, 9, 'Muhammad', 'Nama', 'Rifqi'}

In [49]:
# Menghapus elemen di set menggunakan pop

contoh_set.pop()

contoh_set

{10, 4, 5, 9, 'Muhammad', 'Nama', 'Rifqi'}

In [50]:
my_list = [1, 2, 3, 4]

my_list.pop(1)

print(my_list)

[1, 3, 4]

## 4. Dictionary

In [51]:
data_student = { "nama":"Rifqi" ,
                "umur": 35 ,
                 "pekerjaan": ('Data Scientist', 'ML Engineer')
                 }

In [52]:
data_student['pekerjaan'] = "Data Analyst"
data_student

{'nama': 'Rifqi', 'umur': 35, 'pekerjaan': 'Data Analyst'}

Quiz Singkat:
```
Bukankah tuple immutable, kenapa pada kode diatas tuple dapat diubah?
```

In [53]:
# Mengakses value menggunakan key

data_student["umur"]

35

In [54]:
# Mengakses value menggunakan get()

data_student.get("nama")

'Rifqi'

In [56]:
# Mengakses seluruh key

data_student.keys()

dict_keys(['nama', 'umur', 'pekerjaan'])

In [57]:
# Mengakses seluruh value

data_student.values()

dict_values(['Rifqi', 35, 'Data Analyst'])

In [58]:
# Mengakses seluruh key-value

data_student.items()

dict_items([('nama', 'Rifqi'), ('umur', 35), ('pekerjaan', 'Data Analyst')])

In [59]:
# Menambahkan data dictionary

# Cara 1
data_student["hobi"] = "Ngoding"

# Cara 2
data_student.update({'Tinggi' : 170})

data_student

{'nama': 'Rifqi',
 'umur': 35,
 'pekerjaan': 'Data Analyst',
 'hobi': 'Ngoding',
 'Tinggi': 170}

In [60]:
# Menghapus key

data_student.pop('hobi')
data_student

{'nama': 'Rifqi', 'umur': 35, 'pekerjaan': 'Data Analyst', 'Tinggi': 170}

In [61]:
# menambah value pada key

data_student['pekerjaan'].append('Data Analyst')

AttributeError: 'str' object has no attribute 'append'

In [62]:
data_student

{'nama': 'Rifqi', 'umur': 35, 'pekerjaan': 'Data Analyst', 'Tinggi': 170}

In [ ]:
data_student['nama'].append('Sidiq')

AttributeError: 'str' object has no attribute 'append'

In [63]:
data_student.update({'Makanan Kesukaan' : ['Nasi padang', 'mie goreng']})

In [64]:
data_student

{'nama': 'Rifqi',
 'umur': 35,
 'pekerjaan': 'Data Analyst',
 'Tinggi': 170,
 'Makanan Kesukaan': ['Nasi padang', 'mie goreng']}

In [65]:
data_student['Makanan Kesukaan'].extend(['Tempe goreng', 'Ayam goreng'])
data_student

{'nama': 'Rifqi',
 'umur': 35,
 'pekerjaan': 'Data Analyst',
 'Tinggi': 170,
 'Makanan Kesukaan': ['Nasi padang',
  'mie goreng',
  'Tempe goreng',
  'Ayam goreng']}

In [66]:
data = {
    "identitas" : {
        "nama" : "Rifqi",
        "batch" : 35,
        "bootcamp" : "Data Science"
    },
    "kontak": {
        "WA" : "08123456789",
        "email" : "rifqi.akram@dibimbing.id"
    }
}

In [67]:
# menambahkan "alamat" kedalam dictionary "data"

data["alamat"] = "Jl. Kebon Jeruk No. 42, Jakarta"

In [68]:
data

{'identitas': {'nama': 'Rifqi', 'batch': 35, 'bootcamp': 'Data Science'},
 'kontak': {'WA': '08123456789', 'email': 'rifqi.akram@dibimbing.id'},
 'alamat': 'Jl. Kebon Jeruk No. 42, Jakarta'}

In [69]:
# menambahkan "alamat" didalam sub-dictionary "identitas"
# variabel_dict['sub-dictionary']['key_baru'] = value

data["identitas"]["alamat"] = "Jl. Kebon Jeruk No. 42, Jakarta"

In [70]:
data

{'identitas': {'nama': 'Rifqi',
  'batch': 35,
  'bootcamp': 'Data Science',
  'alamat': 'Jl. Kebon Jeruk No. 42, Jakarta'},
 'kontak': {'WA': '08123456789', 'email': 'rifqi.akram@dibimbing.id'},
 'alamat': 'Jl. Kebon Jeruk No. 42, Jakarta'}

Perhatikan bahwa sekarang alamat ada didalam sub-dictionary `identitas`

In [71]:
# menghapus "alamat" dari dictionary "data"

del data["alamat"]

In [72]:
data

{'identitas': {'nama': 'Rifqi',
  'batch': 35,
  'bootcamp': 'Data Science',
  'alamat': 'Jl. Kebon Jeruk No. 42, Jakarta'},
 'kontak': {'WA': '08123456789', 'email': 'rifqi.akram@dibimbing.id'}}

# **FUNCTION**

### Function non Parameter

In [73]:
def sapa():
    print("Hello, there!")
    print("Welcome to our program in Data Science batch 35.")

In [74]:
# Panggil function sapa()

sapa()

Hello, there!
Welcome to our program in Data Science batch 35.

### Function with Parameter

In [75]:
def sapa(nama):
  print(f"Hello, {nama}!")
  print("Welcome to our program in Data Science batch 35.")

In [77]:
# Panggil function dengan mengisi parameter nama

sapa(nama = 'Rifqi')

TypeError: sapa() missing 2 required positional arguments: 'batch' and 'bootcamp'

In [78]:
def sapa(nama, batch, bootcamp):
  print(f"Hello, {nama}!")
  print(f"Welcome to our program in {bootcamp} batch {batch}.")

In [84]:
sapa(nama = 'Rifqi', batch = 30, bootcamp = "AI Engineer")

Hello, Rifqi!
Welcome to our program in AI Engineer batch 30.

In [85]:
def luas_persegi(panjang, lebar):
  luas = panjang * lebar
  volume = panjang * lebar
  return luas

In [81]:
luas = luas_persegi(panjang=5, lebar=10)

In [86]:
luas

(50, 100)

In [87]:
def luas_persegi(panjang, lebar):
  luas = panjang * lebar
  print(luas)

In [88]:
hitung_luas = luas_persegi(panjang=6, lebar=10)

60

In [89]:
hitung_luas

In [90]:
def luas_persegi_2(panjang, lebar):
  luas = panjang * lebar
  return luas

In [91]:
hitung_luas_2 = luas_persegi_2(panjang=6, lebar=10)

In [93]:
hitung_luas_2

60

Perbedaan antara ```return``` dan ```print``` yang ada pada function def:

| Fitur                | `return`                                           | `print`                                  |
|----------------------|----------------------------------------------------|-------------------------------------------|
| Tujuan               | Mengembalikan nilai dari fungsi                   | Menampilkan nilai ke layar (console)     |
| Output ke mana       | Ke variabel pemanggil function                    | Ke layar/output terminal                 |
| Dipakai untuk        | Proses lanjutan, logika, perhitungan             | Debugging atau pengecekan manual         |
| Bisa disimpan?       | bisa disimpan ke variabel                  | Tidak bisa disimpan langsung           |
| Pengaruh ke program  | Bisa digunakan untuk logika/operasi selanjutnya  | Hanya untuk menampilkan output |

----

# **Study Case**
```
Sistem Penilaian Student Data Science
```

Seorang mentor ingin membuat sistem sederhana untuk menghitung nilai akhir student berdasarkan:

- Nilai assignment (20%)

- Nilai ujian (30%)

- Nilai final project (50%)

Guru tersebut juga ingin memberikan predikat huruf (A, B, C, D, E) berdasarkan nilai akhir. Berikut pembagiannya:
- A jika nilai diatas 90
- B jika nilai diantara 90 dan 80, termasuk keduanya
- C jika nilai diantara 80 dan 70, 80 tidak termasuk
- selain kondisi diatas, D

```
Problem
Buatkan sebuah fungsi `def` untuk menampilkan nilai akhir dari student tersebut.
Tentukan juga predikatnya berdasarkan nilai akhirnya.

In [94]:
def nilai_akhir(nilai_assignment, nilai_ujian, nilai_final_project):
  nilai = float(nilai_assignment*0.2 + nilai_ujian*0.3 + nilai_final_project*0.5)
  if nilai > 90:
    predikat = "A"
  elif 90 >= nilai >= 80:
    predikat = "B"
  elif 80 > nilai >= 70:
    predikat = "C"
  else :
    predikat = "D"

  print(f"Nilai akhirnya adalah {nilai}")
  print (f"Predikatnya adalah {predikat}")

In [95]:
nilai_akhir(86, 5, 90)

Nilai akhirnya adalah 63.7
Predikatnya adalah D